/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************** fin du reset ******************/


/*************** Astuces CSS *******************/
.spacer{
	clear:both;
	margin-bottom: 2%;
}

/*************** Media queries *****************/

@media screen and (min-width: 1150px){
	#conteneur{
		width: 61.8%;/*61.8%;*/
	}
	
	#cadre_droite{
		float: right;
		width: 19%;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1150px){
	#conteneur{
		width: 61.8%;/*61.8%;*/
	}
	
	#cadre_droite{
		float: right;
		width: 19%;
	}
	
	.likebox{
		display:none;
	}
}

@media screen and (min-width: 800px) and (max-width: 1024px){
	#conteneur{
		width: 80%;
	}
	
	#cadre_droite{
		display: none;
	}
}
@media screen and (min-width: 600px) and (max-width: 800px){
	#conteneur{
		width: 80%;
	}
	
	#cadre_droite{
		display: none;
	}
	
	#outils_partage{
		display:none;
	}
}

@media screen and (min-width: 480px) and (max-width: 600px){
	#conteneur{
		width: 90%;
	}
	
	#cadre_droite{
		display: none;
	}
	
	#outils_partage{
		display:none;
	}
}

@media screen and (max-width: 480px){
	#conteneur{
		width: 95%;
	}
	
		
	#cadre_droite{
		display: none;
	}
	
	#outils_partage{
		display:none;
	}
}





/*************** Elements génériques ***********/
html{
	width: 100%;
	height: 100%;
}


body{
	width: 100%;
	/*height: 100%;*/
	background: url(img/design_fondsite.png) no-repeat;
	background-position: -150px 60%;  
	-webkit-background-size: 120%; /* pour Chrome et Safari */
	-moz-background-size: 120%; /*cover;*/ /* pour Firefox */
	-o-background-size: 120%; /* pour Opera */
	background-size: 120%; /* version standardisée */
	background-color: #CCE8F4;*
}

h1{
	font-family: Impact, fantasy;
	font-size: 1.5em;
}
h2{
	font-family: Impact, fantasy;
	font-size: 1.5em;
}
p{
	font-size: 1em;
	font-family: Verdana, sans-serif;
	margin-bottom: 20px;
}

#conteneur{
	height: 100%;
	margin: 0 auto;
}

img{
	/*max-width: 100%;*/
}

a{
	font-size: 1em;
	font-family: Verdana, sans-serif;
	color: #97AFBB;
}

/************ Cadre droite *************/



/************ Social ***************/
#outils_partage{
	
	border-left: 1px solid #EEEEEE;
    border-radius: 4px 4px 4px 4px;
    height: 275px;
    padding: 5px 5px 1px;
    position: fixed;
    left: 0;
    top: 21%;
    width: 65px;
	background-color: rgba(33, 99, 109, 0.6);
}


#bloc_social{
	margin-left: 13%;
	width: 86.5%;
}
/*
.liketext{
	width: 30%;
}
.addthis_toolbox{
	margin-bottom: 1%;
}*//*
.likebox{
	background-color: white;
}
*/
.fb-like-box{
	background-color: white;
	float:right;
}


.fb_iframe_widget{
	margin-bottom: 20%;
}

/************ header ***************/
/*
#header{
	height: 38.2%;
}*/
#header{
	width: 100%;
}

.logo_haut{
	display: block;
	width: 20%;
	margin: 0 auto -3.5%;
}

.pastille_edinautes{
	/*float: right;*/
	width: 80%;
	margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 5%;
}
.coup_de_coeur_fnac{
	width: 50%;
	margin-left: 15%;
	margin-bottom: 10%;
}
.medaille_or_lepine{
	width: 75%;
	margin-left: 15%;
	margin-bottom: 10%;
}

.medaillon_concours{
	position: absolute;
	width: 10%;
	top: 9%;
	left: 5%;
}

/************** Navigation *****************/
nav{
	float: left;
	width: 20%;
}
nav a{
	float:left;
	text-decoration: none;
	width: 100%;
}
.image_bouton{
	float:left;
	width: 100%;
}
.nav_jeu{
	margin-top: -12.5%;
	margin-left: -9%;
	width: 90%;
}
.nav_presse{
	margin-top: -2%;
	margin-left: -6.5%;
	width: 90%;
}
.nav_contact{
	margin-top: 0;
	margin-left: -4.5%;
	width: 90%;
}
.nav_concours{
	margin-top: 0;
	margin-left: -4.5%;
	width: 80%;
}
.nav_jeuflash{
	margin-top: 0;
	margin-left: -4.5%;
	width: 80%;
}

/*************** Bouton achat **************/
.acheter_jeu{
	float: right;
	width: 20%;
}

.lien_acheter_jeu{
	float: right;
	width: 100%;
	margin-right: -4%;
}

.image_acheter{
	float: right;
	width: 100%;
}
.image_acheter:hover{
	opacity: 0.90;
}

.image_acheter_txt_cliquez{
	float: right;
	width: 60%;
	margin-right: -79%;
	margin-top: 21.5%;
} 
.image_acheter_txt_acheter{
	float: right;
	width: 85%;
	margin-right: -90%;
	margin-top: 95%;
}
.image_acheter_glacon{
	float: right;
	width: 45%;
	margin-right: -36%;
	margin-top: 67%;
}
.image_glacons_colles{
	width: 60%;
	margin-left: 20%;
	margin-top: 0%;
}
.image_boite{
	width: 70%;
}

/************ contenu **************/

.bleu {
	color: #FFFFFF;
	border: solid 1px #1A8F98;
	background: #1A8F98;
	background: -webkit-gradient(linear, left top, left bottom, from(#51BDC7), to(#1A8F98));
	background: -moz-linear-gradient(top,  #51BDC7,  #1A8F98);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#51BDC7', endColorstr='#1A8F98');
}
.bleu:hover {
	background: #1A8F98;
	background: -webkit-gradient(linear, left top, left bottom, from(#51BDC7), to(#1A8F98));
	background: -moz-linear-gradient(top,  #51BDC7,  #1A8F98);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#51BDC7', endColorstr='#1A8F98');
}
.bleu:active {
	color: #1A8F98;
	background: -webkit-gradient(linear, left top, left bottom, from(#51BDC7), to(#1A8F98));
	background: -moz-linear-gradient(top,  #51BDC7,  #1A8F98);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#51BDC7', endColorstr='#1A8F98');
}
/*
.bleu {
	color: #FFFFFF;
	border: solid 1px #da7c0c;
	background: #335F68;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.bleu:hover {
	background: #335F68;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.bleu:active {
	color: #335F68;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
*/



#contenu_haut{
	width: 70%;
	background-color: #2A626A;/*#FFFFFF;*/
	padding: 5% 15% 1% 15%;
	border-radius: 40px;
	margin-bottom: 3%;
	display: block;
	/*height: 50%;*/

/*background: #347a84; /* Old browsers */
/*background: -moz-linear-gradient(-45deg,  #347a84 0%, #003b45 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#347a84), color-stop(100%,#003b45)); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(-45deg,  #347a84 0%,#003b45 100%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(-45deg,  #347a84 0%,#003b45 100%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(-45deg,  #347a84 0%,#003b45 100%); /* IE10+ */
/*background: linear-gradient(-45deg,  #347a84 0%,#003b45 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#347a84', endColorstr='#003b45',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

/************** Footer ***************/
footer{
}
