#contenu_haut{
	padding-left: 20%;
	padding-right: 10%;
}

p{
	color: white;
}

h2{
	margin-bottom: 5%;
}

#contenu_haut img{
	max-width: 75%;
	margin-bottom: 1%;
}

.dossier_presse{
	font-size: 1.8em;
	font-weight: 600;
	color: white;
}

.element_presse{
	margin-bottom: 5%;
}

.decalage{
	margin-left: 7.1%;
}

.people{
	margin-top: 5%;
}