#contenu_haut{
	padding-left: 20%;
	padding-right: 10%;
}

p{
	color: white;
}

h2{
	margin-bottom: 5%;
}

#contenu_haut img{
	max-width: 75%;
	margin-bottom: 1%;
}

.dossier_presse{
	font-size: 1.3em;
	font-weight: 600;
}
.lien_dossier_presse{
	font-size: 1em;
	font-weight: 600;
}

.element_presse{
	margin-bottom: 5%;
}

.decalage{
	margin-left: 7.1%;
}

.people{
	margin-top: 5%;
}
.element_radio{
	width: 70%;
}
.logo_radio{
	width: 30%;
}
.player_radio{
	margin-bottom: 12%;
	margin-left: 5%;
	width: 63%;
}